.continents,
.Emoji {
  text-align: center;
}
button {
  display: block;
  margin: 20px auto;
}
.aside {
  align-content: flex-end;
}
.Next-Week {
  text-align: center;
}
.footer {
  align-content: flex-end;
}
.navbar a {
  width: 14%;
  text-align: center;
}
ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}
.center {
  text-align: center;
  align-content: space-around;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
br {
  font-size: 5px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}
h3,
h1 {
  font-size: 60px;
  position: fixed;
  bottom: 50%;
  left: 15%;
}
.currentcityid {
  font-size: 35px;
  position: fixed;
  bottom: 50%;
  left: 15%;
}
h2 {
  font-size: 35px;
  position: fixed;
  bottom: 50%;
  right: 15%;
}

.DayandTime {
  text-align: center;
  font-size: 25px;
}
.currentday {
  text-align: center;
  margin-bottom: -5px;
}
.clock {
  font-size: 15px;
  text-align: center;
}
